<!-- wp:template-part {"slug":"header-with-banner","theme":"overblocks"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"overblocks/services-section"} /-->
  <!-- wp:pattern {"slug":"overblocks/about-block"} /-->
  <!-- wp:pattern {"slug":"overblocks/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"overblocks/recent-articles"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"overblocks"} /-->
